<h1> Add a New Shirt </h1>
<form action ="/add_to_shirts" method="get">
  Retailer: <input type="text" name="retailer">
  Color: <input type="text" name="color">
  Picture URL: <input type="text" name="picture">
  <input type="submit" name="submit">
</form>
